.post {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 40vw;
}
.post-image-container {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  overflow: hidden;
}
.likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-line {
  height: 0.05px;
  width: 80%;
  background-color: lightgray;
}
.active {
  color: green;
}
